.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  background-color: black;

  margin: 0;
}
.container .name {
  border: 50px solid red;
  border-radius: 10px;

  color: white;
  /* opacity: 0.5; */
}

.name #name1 {
  width: 10vw;
  border: 1px solid black;
}
